
    {% extends './base.html' %}
    
    {% block content %}
            <div class="sec2">
                <a href="{{url_for('seventh')}}">
                    <div class="but">
                        <button>AJOUTER</button>
                    </div>
                </a>
                <div class="ajouter">
                    <div class="tab">
                        <table border="1">
                            <caption>Liste des Produits</caption>
                                <thead>
                                    <th>id</th>
                                    <th>Nom</th>
                                    <th>Categorie</th>
                                    <th>Description</th>
                                    <th>Prix unitaire</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    {% for list in listes %}
                                <tr>
                                    <td>{{ list[0] }}</td>
                                    <td>{{ list[1] }}</td>
                                    <td>{{ list[2] }}</td>
                                    <td>{{ list[3] }}</td>
                                    <td>{{ list[4] }}</td>
                                    <td>
                                        <div class="modif" >
                                            <div class="modif1">
                                                <a href='/modif_produit/{{ list[0]}}'>Modifier</a>
                                            </div>
                                            <div class="modif2">
                                                <a href='/valid_sup/{{ list[0]}}'>Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock content %}
