
    {% extends './base.html' %}
    
    {% block content %}
            <div class="sec2">
                <a href="{{url_for('ajout_vente')}}">
                    <div class="but">
                        <button>AJOUTER</button>
                    </div>
                </a>
                <div class="ajouter">
                    <div class="tab">
                        <table border="1">
                            <caption>Liste des Ventes</caption>
                                <thead>
                                    <th>id_Vente</th>
                                    <th>Date_Vente</th>
                                    <th>Id_Magasin</th>
                                    <th>Id_Produit</th>
                                    <th>Quantites</th>
                                    <th>Montant_total</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    {% for list in listes %}
                                <tr>
                                    <td>{{ list[0] }}</td>
                                    <td>{{ list[1] }}</td>
                                    <td>{{ list[2] }}</td>
                                    <td>{{ list[3] }}</td>
                                    <td>{{ list[4] }}</td>
                                    <td>{{ list[5] }}</td>
                                    <td>
                                        <div class="modif" >
                                            <div class="modif1">
                                                <a href='#'>Modifier</a>
                                            </div>
                                            <div class="modif2">
                                                <a href='#'>Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock content %}
